body {
	margin: 10px;
}

.home {
	display:flex;
}

.home-text {
	padding: 25px;
}

.count {
	text-align: center;
}

.weather {
	display: flex;
	align-items: center;
	text-align: center;
}

.weather-lg img {
	width: 35%;
}

.weather-sm img {
	width: 70%;
}
.topHalf{
	display: flex;
}

.detailPic img{
	width: 100%;
}
.detailPic{
	width: 40%;
}
.parkInformation{
	width:40%;
	margin-left: 50px;
	
}
.detailInfo h4{
	text-align: center;
}
.quote{
	text-align: center;
}
.detailDescription{
	text-align: center;
	padding: 30px;
	font-size: 20px;
}
.detailInfo{
	justify-content: space-evenly;
	display: flex;
}

#header-logo {
	width: 30%;
}

#footer-text {
	font-size: 75%;	
}