body {
	margin: 10px;
}

.home {
	display: flex;
}

.home-text {
	padding: 25px;
}

.home-image {
	padding: 20px;
	width: 100;
}

.count {
	text-align: center;
	font-size: 125%;
}

.favorite-parks img {
	height: 30%;
	width: auto;
	padding: 1.5em;
}

.detailHeader h1 {
	font-size: 50px;
}

.weather {
	color: black;
	float: center;
	display: flex;
	align-items: center;
	text-align: center;
	margin-bottom: 50px;
	background-color: white;
	border-radius: 10px;
}

.weather-lg img {
	width: 35%;
	border-radius: 20px;
}

.weather-sm img {
	width: 70%;
}

.topHalf {
	display: flex;
}

.detailPic img {
	width: 100%;
}

.detailPic {
	width: 40%;
}

.parkInformation h4 {
	font-weight: bold;
}

.parkInformation {
	width: 40%;
	margin-left: 50px;
}

.detailInfo h4 {
	text-align: center;
}

.quote {
	text-align: center;
	font-size: 20px;
}

.detailDescription {
	padding: 30px;
	font-size: 20px;
}

.detailInfo {
	justify-content: space-evenly;
	display: flex;
}

.temp-buttons {
	float: center;
	margin-left: 820px;
	padding-top: 40px;
}

#header-logo {
	width: 30%;
}

#footer-text {
	font-size: 75%;
}

.quote {
	text-align: center;
	font-style: italic;
	font-size: 20px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

@media only screen and (max-width: 968px) {
	.home {
		flex-direction: column;
	}
}

@media only screen and (max-width: 768px) {
	.home-image {
		width: 100%;
		height: auto;
		margin: auto;
	}
	.home-text {
		padding: 1.5rem;
	}
}