body {
	margin: 10px;
}

.home {
	display:flex;
}

.home-text {
	padding: 20px;
}

.count {
	text-align: center;
}

.weather {
	display: flex;
	align-items: center;
	text-align: center;
}

.weather-lg img {
	width: 35%;
}

.weather-sm img {
	width: 90%;
}
.topHalf{
	display: flex;
}

.detailPic img{
	width: 100%;
}
.detailPic{
	width: 40%;
}
.parkInformation{
	width:40%;
}

#header-logo {
	width: 30%;
}

#footer-text {
	font-size: 75%;	
}